.recommendationsPage {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  margin-top: 10px;
}

.recommendationsResult {
  margin-top: 20px;
}

.recommendationsResult h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fefefe;
}

.recommendationsResult ul {
  list-style-type: none;
  padding: 0;
}

.recommendationsResult li {
  background-color: #222;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.recommendationsResult li:hover {
  background-color: #111;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  border-color: #007bff;
}

.recommendationsResult li h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fefefe;
}

.recommendationsResult li p {
  font-size: 1rem;
  color: #bbb;
  margin-top: 5px;
}