.mediaCard {
  display: flex;
  gap: 1rem;
  background: #1e1e1e;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

/* Content */
.mediaCard img {
  height: 375px;
  width: 250px;
  border-radius: 4px;
  object-fit: cover;
  flex-shrink: 0;
}

.mediacard-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.mediaIcon {
  color: #555;
  width: 25px;
  margin-right: 0.3rem;
  height: auto;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}

.mediaCard h3 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem;
  color: #f0db4f;
  text-align: left;
}

.mediaCard p:first-of-type {
  font-size: 1rem;
  margin: 0 0 0.5rem;
  color: #a9a9a9;
  text-align: left;
}

.mediaCard p:last-of-type {
  font-size: 1rem;
  margin: 0;
  line-height: 1.5;
  color: #dcdcdc;
  text-align: justify;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1rem;
}


.addedAt {
  font-size: 0.95rem;
  color: #777;
  text-align: left;
}



/* Buttons */
.options {
  margin-top: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.mediaButtons {
  display: flex;
  align-items: center;
  gap: 10px;
}


.mediaCard button {
  margin: 0 8px;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.mediaCard button.addButton {
  background-color: #4caf50;
  color: white;
}

.mediaCard button.addButton:hover {
  background-color: #45a049;
}

.mediaCard button.removeButton {
  background-color: #f44336;
  color: white;
}

.mediaCard button.removeButton:hover {
  background-color: #e53935;
}


.seenSelector {
  display: flex;
  align-items: center;
  gap: 5px;
}
.seenSelector select {
  padding: 10px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #2a2a2a;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
  width: auto;
}
.seenSelector select:hover {
  background-color: #3a3a3a;
}
.seenSelector select:focus {
  outline: none;
  border-color: #f0db4f;
}




@media (max-width: 768px) {
  .mediaCard {
    flex-direction: column;
    align-items: center;
    margin: 0.5rem auto;
    width: 95%;
  }

  .mediaCard img {
    width: 100%;
    height: auto;
    max-width: 250px;
  }

  .mediaCard div {
    margin-top: 1rem;
    text-align: center;
  }

  .mediaButtons {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .seenSelector select {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0px;
  }
}